<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bingchen.meet4sports">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ActivityLogin"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityRegistration"></activity>
        <activity android:name=".ActivityJoinEvents"></activity>
        <activity android:name=".ActivityCreateEvent"></activity>
        <activity android:name=".ActivityMessage"></activity>
        <activity android:name=".ActivitySearch"></activity>
        <activity android:name=".ActivityWeather"></activity>
        <activity android:name=".ActivityProfile"></activity>
    </application>

</manifest>